build/
artifact/

# macOS
.DS_Store
shell/apple/emulator-ios/OpenMP/OpenMP.xcframework

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Visual Studio
.vs/
.vscode/
out/

# JetBrains IDES
.idea/
cmake-build-*/

# Dependencies from .gitmodules
core/deps/breakpad/
core/deps/glslang/
.cache/
compile_commands.json
CMakeUserPresets.json

#iOS
build-ios/DerivedData/
